/* General */

body{
    background-color: rgb(247,247,247)!important;
}

.divider {
    width: 80vw;
    margin: 5em auto ;
    

}

.divider-block{
    margin-top: 8em;
}

/* General end */

/* Navbar */

.navbar{
    background-color: rgb(72, 93, 224);
}
 .navibar{
     display: flex;
     justify-content: flex-end; 
     padding-right: 100px;
}

/* end of Navbar */

/* Container form */

.container-form {
    margin-top: 5vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    
}

.row-form{ 
    position: relative;
    top: 25%;
    margin-top: 25vh ;
    display: block;
    justify-content: center;
    align-items: center; 
    width: 70vw;
}
.blog-container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    grid-gap: 10px;
    margin: 0 5em;
    
}


.card {
    width: 18rem;
    flex-wrap: wrap;

    /* height: max-content; */

}

.card-title {
    text-align: center;
}

/* end of container form */

/* start of team */

.row{
    display: block;
    justify-content: center;
    gap: 20px;
}

#btn-color{
    background-color:  rgb(72, 93, 224);
    color: whitesmoke;
    width: 25vw;
    margin-top: 0.5em;
    margin-left: 0.5em;
    
}

.main-heading{
    padding-top: 20vh;

}


.h2-heading{
    color: black;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.img-responsive{
    width: 148px;
    height: 148px;
    border-radius: 100%;
}
.cnt-block{
    float: left;
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid #d5d5d5;
    margin: 0 0 28px;
}
.follow-us{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: auto;
    margin-left: 10px;
    font-size: 24px;
    color: #767676;
}
ul {
    list-style-type: none;
}
.nameh3{
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
}

/* end of team */

/* start of contact page */

.contact-div{ 
    margin-top: 20vh;
    height: 80vh;
}
.btn-contact{
    background-color: rgb(97, 160, 255);
}

/* end of contact page */