/* Navbar */
.navbar{
    background-color: rgb(72, 93, 224);
 }
 .navibar{
     display: flex;
     justify-content: flex-end; 
     padding-right: 100px;
 }
 /* end of Navbar */
.container-form {
    margin-top: 5vh;
    height: 50vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.row-form{ 
    position: relative;
    top: 25%;
    margin-top: 25vh ;
    display: block;
    justify-content: center;
    align-items: center; 
}
.blog-container-fluid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    grid-gap: 10px;
}

.card {
    width: 18rem;
}